@model PM.Model.Model.UserProfile

@{
    ViewData["Title"] = "UserProfile";
}

<h2>UserProfile</h2>

<h4>UserProfile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @if (ViewBag.IsAdmin)
        {
            @Html.Partial("UserProfileAdmin", Model);
        }
        else {
            @Html.Partial("UserProfileOther", Model);
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
